<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>PetHub RS</title>
	<!-- All CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" >
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
	{% include 'navbar.html' %} <!-- Inclui a barra de navegação -->
    <div class="container-fluid h-100">
		<div class="row h-100 justify-content-center align-items-center" style="margin-top: 100px;">
			<div class="col-md-4">
				<div class="card mt-3">
					<div class="card-body">
						<h5 class="card-title text-center">Cadastre sua Petshop</h5>
						
						<!-- Formulário de Login -->
						<form method="post" action="cadastroLoja">
							<!-- Campo de Usuário -->
							<div class="form-group mb-1">
								<label for="display_name">Nome da petshop:</label>
								<input type="text" class="form-control" name="nome" id="display_name" placeholder="Digite o nome da sua loja">
							</div>
							
							<!-- Campo de Email -->
							<div class="form-group mb-3">
								<label for="email">Email:</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="Digite o e-mail da loja">
							</div>
							<div class="form-group mb-3">
								<label for="cnpj">Informe seu CNPJ:</label>
								<input type="text" data-mask="00.000.000/0000-00" id="cnpj" name="cnpj" class="form-control"  />
								{% with invalid_document_message = get_flashed_messages(category_filter='invalid_document_message') %}
									{% if invalid_document_message %}
										{% for message in invalid_document_message %}
										<div class="flash_alerta">
											{{ message }}
										</div>
										{% endfor %}
									{% endif %}
								{% endwith %}
							</div>
							<!-- Campo de Senha -->
							<div class="form-group mb-1">
								<label for="password">Senha:</label>
								<input type="password" class="form-control" name="password1" id="password1" placeholder="Digite sua senha">
							</div>

							<!-- Campo de Senha -->
							<div class="form-group mb-3">
								<label for="password">Confirme sua senha:</label>
								<input type="password" class="form-control" name="password2" id="password2" placeholder="Confirme sua senha">
								{% with invalid_password_message = get_flashed_messages(category_filter='invalid_password_message') %}
									{% if invalid_password_message %}
										{% for message in invalid_password_message %}
										<div class="flash_alerta">
											{{ message }}
										</div>
										{% endfor %}
									{% endif %}
								{% endwith %}
							</div>

							<!--Avatar-->
							<!-- TODO: teremos profile picture? -->
							<!-- <div>
								<div class="d-flex justify-content-center mb-4">
									<img id="selectedAvatar" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
									class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="example placeholder" />
								</div>
								<div class="d-flex justify-content-center">
									<div class="btn btn-primary btn-rounded">
										<label class="form-label text-white m-1" for="customFile2">Choose file</label>
										<input type="file" class="form-control d-none" id="customFile2" name="profilePicture" onchange="displaySelectedImage(event, 'selectedAvatar')" />
									</div>
								</div>
							</div> -->
							
							<!-- Botão de Login -->
							<div class="text-center">
                                <p>
                                <button type="submit" class="btn btn-primary card-login">Cadastrar</button>
							</div>

							<div class="text-center">
                                <p>Já tem uma conta? <a class="link-opacity-100" href="/login">Fazer Login</a></p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Bootstrap JS (Popper.js and jQuery are required for Bootstrap's JavaScript components) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
</body>
</html>
