<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>PetHub RS</title>
	<!-- All CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" >
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
	{% include 'navbar.html' %} <!-- Inclui a barra de navegação -->
    <div class="row  justify-content-center align-items-center" style="margin-top: 100px;">
        <div class="col-md-5">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title text-center ">Área do lojista</h5>
                        <div class="container-fluid h-100">
                            <div class="row h-100 justify-content-center align-items-center" style="margin-top: 20px;">
                                <div class="card" style="margin-bottom: 15px;">
                                    <!-- <img src="images/petshop.png" class="card-img-top" alt="petshop"> -->
                                    <div class="card-body">
                                        <h5 class="card-title">Minha Petshop</h5>
                                        <p class="card-text">Aqui você consegue cadastrar novos produtos e serviços da sua petshop.</p>
                                        <a href="/minhaLoja" class="btn btn-primary">Ver minha loja</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                                    <div class="card-body">
                                        <h5 class="card-title">Cadastrar Petshop</h5>
                                        <p class="card-text">Comece a oferecer seus produtos e serviços na nossa plataforma!</p>
                                        <a href="/cadastroLoja" class="btn btn-primary">Cadastrar Loja</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
                        
   